@import './variables.scss';

html,body{
    height: 100%;
    margin: 0;
}
#example{
    height: 100%;
}
.App{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $textColor;
    .App-header{
        background-color: $primary-dark;
        height: 3rem;
        width: 100%;
    }
    main{
        /* background-color: #fff; */
        background-color: $bgColor;
        width: 100%;
        margin: 0 auto;
        flex: 1;
        overflow: auto;
    }
}
.centerAll{
    display: flex;
    align-items: center;
    *{
        margin: 0 auto;
    }
}

/* #imageBoard{
    height: 100%;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: repeat(auto-fill,minmax(15rem, 1fr));
    grid-gap: 0.1rem;

    div{
        background-color: white;
        height: 15rem;
        align-self: center;
    }
} */

#imageBoard{
    width: 100%;
    max-width: 74rem;
    margin: 0 auto;
    
}

.postItem{
    background-color: white;
    max-height: 8rem;
    width: 16rem;
    align-self: center;
    /* margin: 0.1rem; */
    overflow: hidden;
    position: relative;
    .selectedArrow{
        background-color: black;
        height: 1rem;
        width: 1rem;
        position: absolute;
        bottom: 0;
        left: calc(50% - 0.5rem);
    }    
    img{
        width: 100%;
    }

}
.postRow{
    width: 100%;
    margin: 0.2rem auto;
    .postRowFlex{
        display: flex;
    }
    
}



.postView{
    width: 100%;
    margin: 0 auto;
    position: relative;
    img{
        max-width: 100%;
        max-height: 100vh;
        display: block;
        margin: 0 auto;
    }
    p{
        margin: 0;
    }
    .postNav{
        position: absolute;
        top: 35vh;
        background-color: orange;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        
    }
    .navForward{
        right: 0;
    }
    .navBack{
        left: 0;
    }
    
}
.ratings{
    min-height: 2rem;
    display: flex;
    align-items: center;
    section{
        display: flex;
        width: 4rem;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        font-size: 3rem;
        padding: 0.5rem;
        p{
            text-align: center;
        }
    }
    .ratingP{
        font-size: 4rem;
        width: 4rem;
        font-weight: bold;    
    }
    .postTags{
        display: flex;
        margin: 0 0 0 6rem;
        .tag{
            margin:0 0.4rem;
            border-radius: 2rem;
            padding: 0.2rem 1rem;
            border: 1px solid $secondary;
            background-color: $secondary-light;
            font-size: 0.8rem;
        }
    }
}
.comments{
    max-height: 100vh;
    display: flex;
    align-items: center;
}



/* NAVBAR STYLING */
.mainNavBar{
    max-width: 74rem;
    width: 100%;
}




.searchComp{
    width: 14rem;
    padding: 0.2rem 0.6rem;
    background-color: rgba(255,255,255,0.4);
    border-radius: 2rem;
    overflow: hidden;
    border:1px solid transparent;
    
    .searchInput{
        width: 190%;
        background-color: transparent;
        border: none;
        &:focus{
             outline: none;
        }
    }
    
    .searchSubmit{
        //display: none;
        width: 10%;
        transform: translateX(2rem);
        transition: 0.5s;
    }
    &:focus-within{
        border:1px solid $secondary-light;
        .searchSubmit{
            display: block;
            transform: translateX(0rem)
        }
    }
}